extends layouts/layouts

block styles 
    link(rel="stylesheet", href="/css/index.css")
block content 
    .container 
        h2 Login To Get Started
        .btn-group 
        form(action="/auth/login", method="POST") 
            button#login_from_github.action-btn <i class="fab fa-github"></i> Login From Github

block scripts 
    script(src="/js/index.js") 
