extends layouts/layouts

block content 
    p This is Index Page for connecting from github 
    .btn-group 
        button#login_from_github Login From Github

block scripts 
    script(src="/js/index.js") 
