extends layouts/layouts


block styles 
    link(rel="stylesheet", href="/css/rooms.css")
block content 
    
    aside.users-section
        .user-content 
            .content
                .display-img
                    img(src="", alt="", id="avatar" class="avatar")
                .user-text
                    p.info-text
                        span#username.data
                    p.info-text Followers: 
                        span#followers.data
                    p.info-text Following: 
                        span#following.data
                    p.info-text Repositories: 
                        span#repository.data
            form(action="/auth/logout")
                button.action-btn logout
        .user-chats 
            ul.chat-list
               
    main
        header.other-user-info 
            .content-other-user 
                .display-img 
                    img(src="https://source.unsplash.com/75x75", class="header-profile-img" alt="")
                h3.username#header_username Username
            .menu  
                button#open_aside 
                    span.nav-btn
        .message-section 
            ul.message-list
                div.default-chat-window Choose a Person to Chat With
                //-  li.message-item.self     
                //-     .profile-img 
                //-         img(src="https://source.unsplash.com/100x100", alt="")
                //-     .msg-text.self-msg 
                //-         | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, architecto.
                //-         ul.reactions 
                //-             li.love 
                //-                 i.fas.fa-heart
                //-                 | 2                       
                //-             li.haha 
                //-                 i.fas.fa-laugh-squint 
                //-                 | 2 
                //-             li.wow 
                //-                 i.fas.fa-surprise
                //-                 | 2                     
                //-             li.sad 
                //-                 i.fas.fa-sad-tear 
                //-                 | 2
                //-             li.angry 
                //-                 i.fas.fa-angry
                //-                 | 2
                //-             li.like 
                //-                 i.fas.fa-thumbs-up
                //-                 | 2
                //-             li.dislike 
                //-                 i.fas.fa-thumbs-down
                //-                 | 2

                //-  li.message-item.other     
                    .profile-img 
                        img(src="https://source.unsplash.com/100x100", alt="")
                    .msg-text.other-msg 
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, architecto.
                        ul.reactions 
                            li.love 
                                i.fas.fa-heart                       
                            li.haha 
                                i.fas.fa-laugh-squint  
                            li.wow 
                                i.fas.fa-surprise                     
                            li.sad 
                                i.fas.fa-sad-tear 
                            li.angry 
                                i.fas.fa-angry
                            li.like 
                                i.fas.fa-thumbs-up
                            li.dislike 
                                i.fas.fa-thumbs-down
                    
       
            .message-text-input 
                form#chat-msg-form(action="#")
                    .message-form
                        input#message-text.form-control(type="text", name="message_text", placeholder="Type Your Message")  
                        button#send.send-message <i.far.fa-surprise class="fas fa-paper-plane"></i.far.fa-surprise>

    aside.right-search 
        input#search.form-control(type="text", name="search",placeholder="search")
        ul.search-list 


block scripts 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js")
    script(src="/socket.io/socket.io.js") 
    script(src="/js/rooms.js", type="module") 
    script(src="/js/chat_interaction.js") 